*{
    
    padding: 0;
    margin: 0;
}
body{
    /* background-image:url(images/animation.gif) ;  */
    background-color: rgb(58, 73, 73);
    min-height: 100vh ;
    min-width: 100%; 
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}
img{
    width:400px;
    height: 250px;
    /* padding-left: 38%; */
    margin-top: 20px;
    padding-top: 60px;
    display: flex;

}
.img-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#text{
    margin-top: 10px;
    color: rgb(185, 209, 209);
    font-size:32px;
    
}
nav{
    position: fixed;
    width:100%;
    background-color:rgb(134, 161, 161);    
    box-shadow: 3px 3px 5px black;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li{
    height:50px ;
}
nav a{
    height: 100%;
    align-items: center;
    display: flex;
    color: black;
    text-decoration: none;
    padding: 0 30px;

}

nav a:hover{
    background-color: rgb(92, 71, 71);
}
nav li:first-child{
    margin-right: auto;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width:250px;
    /* z-index: 999; */
    background-color: rgba(134, 161, 161,0.6);
    backdrop-filter:blur(10px) ;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;  
}
.menu-button{
    display: none;
}
@media (max-width:800px) {
    .hide-phone{
        display:none ;
    }
    .menu-button{
        display: flex;
    }
}
@media (max-width:400px) {
    .sidebar{
        width: 100%;
        display: flex;
    }
    .navbar{
        display: none;
    }
}
